<div class="container-fluid">
  <div class="container">
    <h2>Owners</h2>
    <ng-template [ngIf]="owners.length > 0" [ngIfElse]="noResult">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Telephone</th>
            <th>Pets</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let owner of owners">
            <td class="ownerFullName"><a routerLink="/owners/{{owner.id}}" routerLinkActive="active"
              (click)="onSelectOwner(owner)">{{ owner.firstName }} {{ owner.lastName }}</a></td>
            <td>{{ owner.address }}</td>
            <td>{{ owner.city }}</td>
            <td>{{ owner.telephone }}</td>
            <td>
              <tr *ngFor="let pet of owner.pets">
                {{ pet.name }}
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template [ngIf]="owners.length == 5">
      <a id="showAllOwnersLink" role="button" (click)="showAllResults()">Currently showing 5 results. Click to list all results.</a>
    </ng-template>
  </ng-template>
  <ng-template #noResult>
    <p style="margin-bottom: 20px;">Didn't find any owners matching your search.</p>
  </ng-template>
  </div>
</div>
