<div class="container-fluid">
  <div class="container xd-container">
    <h2>New Specialty</h2>
    <form (ngSubmit)="onSubmit(specialityForm.value)" #specialityForm="ngForm" novalidate>
      <input type="hidden" id="id" [(ngModel)]="speciality.id" name="id" />
      <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-8">
          <input id="name" name="name" class="form-control" minlength="1" maxlength="80" pattern="^[A-Za-z0-9].{0,79}$" required type="text" [(ngModel)]="speciality.name" #specialityName="ngModel" [class.is-valid]="specialityName.dirty && specialityName.valid" [class.is-invalid]="specialityName.dirty && specialityName.invalid" />
          <div class="invalid-feedback" *ngIf="specialityName.dirty && specialityName.hasError('maxlength')">Name may be only 80 characters long</div>
          <div class="invalid-feedback" *ngIf="specialityName.dirty && specialityName.hasError('minlength')">Name must be at least 1 character long</div>
          <div class="invalid-feedback" *ngIf="specialityName.dirty && specialityName.hasError('pattern')">Name must begin with a letter or digit</div>
          <div class="invalid-feedback" *ngIf="(specialityForm.submitted || specialityName.dirty) && specialityName.hasError('required')">Name is required</div>
        </div>
        <div class="col-sm-2 mt-2 mt-sm-0">
          <button class="btn btn-secondary" type="submit" [disabled]="specialityForm.invalid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
